.dice {
    background-size: auto calc(100% - 1.5rem) !important;
    background-position: calc(100% - 1rem) center !important;
}

.group {
    height: 6rem !important;
    border-radius: 20px;
    box-shadow: 2px 3px 4px #888888;
}

.clickable {
    cursor: pointer;
}

.group-name {
    padding-top: 0.2rem;
}

.achievement-title {
    width: 100%;
}

.answer-img {
    height: 3rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
}

.achievement-img {
    padding: 0.5rem;
    height: 4rem;
}