input {
    width: 20%;
    float: right;
    margin-top: 0.8rem;
}

span {
    font-size: 1.5rem;
    position: relative;
    top: 0.2rem;
}

img {
    height: 4rem;
}

.user-placement {
    border-radius: 20px;
    box-shadow: 2px 3px 4px #888888;
}